{% extends 'base.html' %}
    {% block content %}   
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left text-gray-500 rtl:text-right dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3 bg-gray-50 dark:bg-gray-800">
                        Informazione
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Valore
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="border-b border-gray-200 dark:border-gray-700">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800">
                        Età generale
                    </th>
                    <td class="px-6 py-4">{{ etaGenerale }}</td>
                </tr>
                <tr class="border-b border-gray-200 dark:border-gray-700">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800">
                        Età media della servitù
                    </th>
                    <td class="px-6 py-4">{{ etaServitu }}</td>
                </tr>
                <tr class="border-b border-gray-200 dark:border-gray-700">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800">
                        Età media dei gruppi famigliari
                    </th>
                    <td class="px-6 py-4">{{ etaGruppi }}</td>
                </tr>
                <tr class="border-b border-gray-200 dark:border-gray-700">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800">
                        Età media delle mogli
                    </th>
                    <td class="px-6 py-4">{{ etaMogli }}</td>
                </tr>
                <tr class="border-b border-gray-200 dark:border-gray-700">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800">
                        Età media dei mariti
                    </th>
                    <td class="px-6 py-4">{{ etaMariti }}</td>
                </tr>
                <tr class="border-b border-gray-200 dark:border-gray-700">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800">
                        Età media dei nobili
                    </th>
                    <td class="px-6 py-4">{{ etaNobili }}</td>
                </tr>
                <tr class="border-b border-gray-200 dark:border-gray-700">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800">
                        Età media dei borghesi
                    </th>
                    <td class="px-6 py-4">{{ etaBorghesi }}</td>
                </tr>
                <tr class="border-b border-gray-200 dark:border-gray-700">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800">
                        Età media del popolo
                    </th>
                    <td class="px-6 py-4">{{ etaPopolo }}</td>
                </tr>
                <tr class="border-b border-gray-200 dark:border-gray-700">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800">
                        Quantità di persone sopra i 40 anni
                    </th>
                    <td class="px-6 py-4">{{ sopraQuaranta }}</td>
                </tr>
                <tr class="border-b border-gray-200 dark:border-gray-700">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800">
                        Quantità di persone sotto i 16 anni
                    </th>
                    <td class="px-6 py-4">{{ sottoSedici }}</td>
                </tr>
                <tr class="border-b border-gray-200 dark:border-gray-700">
                    <th colspan="2" class="px-6 py-4 text-lg font-bold text-gray-900 bg-gray-100 dark:text-white dark:bg-gray-900">
                        Età media delle femmine
                    </th>
                </tr>
                <tr class="border-b border-gray-200 dark:border-gray-700">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800">
                        Nella fascia d'età inferiore ai 14 anni
                    </th>
                    <td class="px-6 py-4">{{ f1 }}</td>
                </tr>
                <tr class="border-b border-gray-200 dark:border-gray-700">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800">
                        Nella fascia d'età dai 15 anni ai 30 anni
                    </th>
                    <td class="px-6 py-4">{{ f2 }}</td>
                </tr>
                <tr class="border-b border-gray-200 dark:border-gray-700">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800">
                        Nella fascia d'età dai 31 ai 45 anni
                    </th>
                    <td class="px-6 py-4">{{ f3 }}</td>
                </tr>
                <tr class="border-b border-gray-200 dark:border-gray-700">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800">
                        Nella fascia d'età superiori ai 46 anni
                    </th>
                    <td class="px-6 py-4">{{ f4 }}</td>
                </tr>
                <tr class="border-b border-gray-200 dark:border-gray-700">
                    <th colspan="2" class="px-6 py-4 text-lg font-bold text-gray-900 bg-gray-100 dark:text-white dark:bg-gray-900">
                        Età media dei maschi
                    </th>
                </tr>
                <tr class="border-b border-gray-200 dark:border-gray-700">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800">
                        Nella fascia d'età inferiore ai 14 anni
                    </th>
                    <td class="px-6 py-4">{{ m1 }}</td>
                </tr>
                <tr class="border-b border-gray-200 dark:border-gray-700">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800">
                        Nella fascia d'età dai 15 anni ai 30 anni
                    </th>
                    <td class="px-6 py-4">{{ m2 }}</td>
                </tr>
                <tr class="border-b border-gray-200 dark:border-gray-700">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800">
                        Nella fascia d'età dai 31 ai 45 anni
                    </th>
                    <td class="px-6 py-4">{{ m3 }}</td>
                </tr>
                <tr>
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800">
                        Nella fascia d'età superiori ai 46 anni
                    </th>
                    <td class="px-6 py-4">{{ m4 }}</td>
                </tr>
            </tbody>
        </table>
    </div>
            <style>
                .contenutoEta p{
                    margin-right:10px;
                    margin-bottom:2px;
                }

                .contenutoEta textarea{
                    resize:none;         
                    width:200px;         
                    height:40px;
                }
                div{
                    margin-bottom:20px;
                }
            </style>
        {% endblock %}