    {% extends 'base.html' %}
        {% block content %}        
            <div class="contenutoEta">
                <h1>INFORMAZIONI SU L'ETÀ</h1>
                <p>Età generale:</p><textarea name="testo" rows="2" cols="20" readonly></textarea>
                <p>Età media della servitù:</p><textarea name="testo" rows="2" cols="20" readonly></textarea>
                <p>Età media dei gruppi famigliari:</p><textarea name="testo" rows="2" cols="20" readonly></textarea>
                <p>Età media delle mogli:</p><textarea name="testo" rows="2" cols="20" readonly></textarea>
                <p>Età media dei mariti:</p><textarea name="testo" rows="2" cols="20" readonly></textarea>
                <p>Età media dei nobili:</p><textarea name="testo" rows="2" cols="20" readonly></textarea>
                <p>Età media dei borghesi:</p><textarea name="testo" rows="2" cols="20" readonly></textarea>
                <p>Età media del popolo:</p><textarea name="testo" rows="2" cols="20" readonly></textarea>
                <p>Quantità di persone sopra i 40 anni:</p><textarea name="testo" rows="2" cols="20" readonly></textarea>
                <p>Quantità di persone sotto i 16 anni:</p><textarea name="testo" rows="2" cols="20" readonly></textarea>
                <h2>Età media delle feminile</h2>
                <p>Nella fascia d'età inferiore ai 14 anni:</p><textarea name="testo" rows="2" cols="20" readonly></textarea>
                <p>Nella fascia d'età dai 15 anni ai 30 anni:</p><textarea name="testo" rows="2" cols="20" readonly></textarea>
                <p>Nella fascia d'età dai 31 ai 45 anni:</p><textarea name="testo" rows="2" cols="20" readonly></textarea>
                <p>Nella fascia d'età superiori ai 46 anni:</p><textarea name="testo" rows="2" cols="20" readonly></textarea> 
                <h2>Età media dei maschi</h2>
                <p>Nella fascia d'età inferiore ai 14 anni:</p><textarea name="testo" rows="2" cols="20" readonly></textarea>
                <p>Nella fascia d'età dai 15 anni ai 30 anni:</p><textarea name="testo" rows="2" cols="20" readonly></textarea>
                <p>Nella fascia d'età dai 31 ai 45 anni:</p><textarea name="testo" rows="2" cols="20" readonly></textarea>
                <p>Nella fascia d'età superiori ai 46 anni:</p><textarea name="testo" rows="2" cols="20" readonly></textarea> 
            </div>
        {% endblock %}