 <!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Stato delle anime</title>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
    </head>
    <body>
        <h1>Abitanti di Crema nel 1592-93</h1>
        <div class="relative overflow-x-auto">
            <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="px-6 py-3">
                            Titolo
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Nome
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Cognome
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Figlio di
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Eta
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Professione/Grado di Parentela
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Residenza
                        </th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
        <!---{% endblock %--->
    </body>
</html>